body {
	background-color:#274f91;
}

h1 {
	text-align:center;
	font-family:Cambria,Arial;
	
	font-size:40px;
}

p {
	text-align:center;
	font-family:Cambria,Arial;
	
	font-size:20px;
}

hr {
	border-color:black;
}

img {
	border-style:solid;
	border-color:black;
}

.center {
	display:block;
	margin-left:auto;
	margin-right:auto
}

a:link {
    color:#6482B6;
}

a.nav:link {
    color:#6482B6;
	text-decoration:none;
	font-size:40px;
}

a.active:link {
	color:black;
	text-decoration:none;
	font-size:40px;
}

a:visited {
    color:#6482B6;
}

a.active:visited {
	color:black;
	text-decoration:none;
	font-size:40px;
}

a:hover {
    color:hotpink;
}

a:active {
    color:#6482B6;
}

a.active:active {
	color:black;
	text-decoration:none;
	font-size:40px;
}


table, th, td{
    border: 1px solid black;
    border-collapse:collapse;
	margin:auto;
	font-size:25px;
	padding:5px;
}

td {
	background-color:ffffff;
}

ul {
	list-style-type:circle;
}

li {
	font-size:20px;
}

li.genre {
	font-size:30px;
}

.button {
    background-color:#ffffff;
    border:none;
    color:6482B6;
    padding:15px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:30px;
}